@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #7cafc4, #5995ed);
}
main {
    width: 60vw;
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #044389;
    background-color: #ffff;
}
h1{
    color: #FCBF49;
    text-shadow: 5px 5px 5px #e6b04375;
    text-align: center;
}
h2{
    color: #044389;
}
p {
    text-align: justify;
}